body {
    display: flex;
    flex-direction: column;
    font-family: "roboto", sans-serif;
    background-color: #F9FAF8;
    margin: 0;
    flex-grow: 1;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 96px;
}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: #E5E7EB;
    padding: 16px;
}

.container-1 {
    background-color: #1F2937;
    padding: 96px;
    display: flex;
}

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 144px 96px;
    gap: 32px;
}

.container-3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 96px 144px;
}

.container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 96px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    color: #E5E7EB;
    margin: 8px;
}

.main-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.main-title-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-button-1 {
    background-color: #3883F6;
    border: none;
    font-weight: 700;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 8px 24px;
}

.sign-up-button-2 {
    border: 2px solid #F9FAF8;
    background-color: #3883F6;
    font-weight: 700;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 8px 24px;
}

img {
    color: #E5E7EB;
}

.smaller-title {
    font-size: 24px;
    font-weight: 700;
}

.images {
    display: flex;
    gap: 32px;
}

.image-and-subtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.quote-text {
    color:#1F2937;
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
}

.quote-author {
    font-weight: 700;
    align-self: flex-end;
}

.container-4-container {
    display: flex;
    padding: 24px 48px;
    background-color: #3883F6;
    border-radius: 5px;
    color: #F9FAF8;
    flex-grow: 1;
    justify-content: space-between;
}

.call-to-action-title {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.call-to-action-subtext {
    color: #E5E7EB;
}

.button {
    display: flex;
    align-items: center;
}

.container-1-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}